{
  "$schema": "https://json.schemastore.org/prettierrc.json",
  "arrowParens": "always",
  "bracketSameLine": true,
  "importOrderParsers": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTSVersion": "5.4.5",
  "printWidth": 80,
  "overrides": [
    { "files": ["*.css", "*.scss"], "options": { "printWidth": 240 } },
    { "files": ["*.json", ".*rc"], "options": { "trailingComma": "none" } }
  ],
  "plugins": [
    "prettier-plugin-pkg",
    "prettier-plugin-imports",
    "prettier-plugin-jsdoc",
    "prettier-plugin-tailwindcss"
  ],
  "quoteProps": "consistent",
  "semi": true,
  "tailwindFunctions": ["clsx", "cn", "cva"],
  "trailingComma": "all"
}
