# repository
node_modules
.vercel
.turbo
build
coverage
dist
out

# debug
*-debug.log*
*-error.log*

# local env files
.env*
!.env.example

# package lock files
yarn.lock
package-lock.json
pnpm-lock.yaml


node_modules
.vercel
.turbo
.next
.prettierrc
dist
coverage

package-lock.json
pnpm-lock.yaml
yarn.lock
