@import 'tailwindcss';

html {
  font-family: 'Inter', ui-sans-serif, system-ui;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  @apply overflow-hidden bg-white;
}

@layer components {
  .radial-mask {
    mask-image: radial-gradient(32rem 32rem at center, white, transparent);
  }
  .nav-link {
    @apply text-sm font-semibold text-gray-900;
  }
  .bg-aura-gradient {
    @apply bg-gradient-to-tr from-[#ff80b5] to-[#9089fc];
    /* prettier-ignore */
    clip-path: polygon(63.1% 29.5%, 100% 17.1%, 76.6% 3%, 48.4% 0%, 44.6% 4.7%, 54.5% 25.3%, 59.8% 49%, 55.2% 57.8%, 44.4% 57.2%, 27.8% 47.9%, 35.1% 81.5%, 0% 97.7%, 39.2% 100%, 35.2% 81.4%, 97.2% 52.8%, 63.1% 29.5%);
  }
}
